---
import completo from '../assets/areas/todo.webp';
---

<section id="areas">
  <img src={completo.src} alt="Áreas de Producción" class="areas-img" />
</section>

<style>
  #areas {
    width: 100%;
    background: #ffffff;
    padding: 80px 4rem 160px;
  }

  .areas-img {
    width: 100%;
    max-width: 900px;
    height: auto;
    display: block;
    margin: 0 auto;
  }
</style>
